<div class="navbar-dark bg-dark">
    {% if app.user %}
        <nav class="navbar navbar-expand-sm container">
            <a class="navbar-brand" href="{{path('home_index')}}">PouFa</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleMainNav" aria-controls="collapsibleMainNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleMainNav">
                <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <nav class="nav justify-content-center">
                        <a class="nav-link" href="{{path('home_index')}}">Home</a>
                        <a class="nav-link" href="{{path('easyadmin')}}">Admin</a>
                        <a class="nav-link" href="{{path('market_index')}}">Market</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        {# <a class="nav-link" href="{{path('transaction_index')}}">Transactions</a> #}
                        {# <a class="nav-link" href="{{path('customer_index')}}">Customers</a> #}
                        {# <a class="nav-link" href="{{path('item_index')}}">Items</a> #}
                        {# <a class="nav-link" href="{{path('user_index')}}">Employees</a> #}
                        {% endif %}
                    </nav>
                </div>
            </div>
            <nav class="nav justify-content-end btn-group">
            {% if is_granted('ROLE_ACCOUNTANT') %}
                <a role="button" class="btn btn-sm btn-outline-warning nav-link" href="#">Accounts</a>
            {% endif %}
                <a role="button" class="btn btn-sm btn-outline-danger nav-link" href="/logout">Sign Out</a>
            </nav>
        </nav>
    {% else %}
        <nav class="navbar navbar-expand-sm container">
            <a class="navbar-brand" href="{{path('home_index')}}">PouFa</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleMainNav" aria-controls="collapsibleMainNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleMainNav">
                <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <nav class="nav justify-content-center">
                        <a class="nav-link" href="{{path('app_login')}}">Login</a>
                    </nav>
                </div>
            </div>
        </nav>
    {% endif %}
</div>
