{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
{% if app.user %}
<div class="container">
    <div class="row py-3 mb-2">
        <div class="col-sm-12">
            <div class="btn-group">
                <a class="btn btn-info" href="{{path('easyadmin',{entity: 'Farm', action: 'new'})}}" role="button">Add Farm</a>
                <a class="btn btn-warning" href="{{path('easyadmin',{entity: 'Batch', action: 'new'})}}" role="button">Add Batch</a>
            </div>
        </div>
        <div class="col-sm-12">
            {% for farm in farms %}
            <p class="h1 display-4">{{ farm.name }}</p>
            <p class="text-secondary">{{ farm.location }}</p>
            <div class="card-columns">
                {% for batch in farm.batches %}
                    <a href="{{path('batch_show',{ id: batch.id })}}" class="text-info">
                    <div class="card p-2 m-1 {{ batch.dateSoldOut ? 'border-danger text-danger' : batch.onSale ? 'border-success text-success' : 'bg-dark'}}">
                        <div class="card-header">
                            <span class="lead card-title">{{batch.name}}</span>
                            {% if batch.dateSoldOut %}
                                <span class="badge badge-pill badge-danger float-right">sold out</span>
                            {% elseif batch.age > 35 or batch.onSale %}
                                <span class="badge badge-pill badge-success float-right">on sale</span>
                            {% else %}
                                <span class="badge badge-pill badge-warning float-right">sale pending</span>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p class="h5">{{batch.numberOfMales + batch.numberOfFemales}} birds</p> 
                                <p class="small">{{(batch.age/7)|round(1, 'ceil') ~ ' weeks ' ~ batch.category}}</p>
                            </div>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
