{% extends 'base.html.twig' %}

{% block title %}Market {{ parent() }}{% endblock %}

{% block body %}
<section id="itemsOnSale" class="container">
    <div class="row py-3">
        <div class="card border-success">
            <div class="card-header h3">
                <span class="card-title">{{ batch.farm.name }}</span>
                <div class="float-right"><span class="badge badge-info p2"><sup>K</sup>{{batch.sellingprice/100}}</span></div>
            </div>
            <div class="card-body">
                <p class="card-text">Delicious fresh chickens from {{ batch.farm }}. You can get it live or cleaned for an extra K5 payment.</p>
                <p>Number of chickens available: 45</p>
                <a href="#" class="btn btn-success">Place order</a>
            </div>
            <div class="card-footer">
                <span class="text-muted small">Seller location: <span class="text-dark">{{batch.farm.location}}</span></span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
