<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% set appName = 'Poultry Farm Management Toolkit' %}
        <title>{% block title %}{% endblock %} | {{ appName }}</title>
        {% block stylesheets %}
            <script src="{{asset('js/jquery.min.js')}}"></script>
            {% include "./stylesheets.html.twig" %}
        {% endblock %}
    </head>
    <body class="container-fluid mx-0 px-0">
        {% include "defaults/main-nav.html.twig" %}
        <div id="main-content">
            {% block body %}{% endblock %}
        </div>
        <footer class="bg-dark py-1 text-center fixed-bottom">
            {% block footer %}
            {% endblock %}
            <div class="container">
                <div class="col">
                    {% if app.user %}
                        <p class="text-warning">You are logged in as <span class="text-light">{{app.user.username}}</span></p>
                    {% endif %}
                    <span>
                        <a class="text-info" href="#">{{ appName }} &copy; 2019 &middot; Terms and Conditions Apply</a>
                    </span>
                </div>
            </div>
        </footer>
        {% block javascripts %}
        <script src="{{asset('js/jquery.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/jquery-ui.min.js')}}"></script>
        <script src="{{asset('js/popper.min.js')}}"></script>
        <script src="{{asset('js/list.min.js')}}"></script>
        {% endblock javascripts %}
        <script>
            $('.date-input').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        </script>
    </body>
</html>
